# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64

numpy~=1.19.1
scikit-learn~=0.23.2
scipy~=1.5.2
matplotlib~=3.3.1
ray~=0.8.7
numba~=0.50.1
setuptools~=49.6.0
torch~=1.6.0
pandas~=1.1.2
tempeh~=0.1.12